.appTime__wrapper {
    z-index: 10;
    right: 15px;
    top: 15px;
    display: inline-flex;
    align-items: center;

    .appTime__logo {
        display: inline-flex;
        color: $extra-light-color;

        h4 {
            margin: 0;
            display: inline-block;
        }
        .material-icons {
            font-size: 2.5rem;
        }
    }

    .appTitle__time {
        h4 {
            color: $lighter-color;
            display: inline-block;
            margin: 0;
        }
    }
}