.lineGraph__wrapper {
}

.line {
  fill: none;
  stroke: $graph-prim-color;
  stroke-width: 2;
}

.tick text {
  fill: $graph-body-color;
}
.tick line {
  stroke: $graph-body-color;
}

.barChart-scrollable-wrapper {
   overflow-y: scroll;
 }

.graphSvg__wrapper {
  filter: drop-shadow( -5px -5px 5px #FFFFFF );
}