.barGraphCard {
  padding: $card-content-padding;
}

.barGraphCard__subtitle {
  font-size: 1.2rem;
  color: $body-text-color-lighter;
  font-weight: lighter;
}

.barGraphCard__title {
  color: $body-text-color;
  font-weight: 700;
}