.bubbleChart {

  .chartWrapper {

    .labels {
      //mix-blend-mode: darken;
      //mix-blend-mode: hard-light;

      text {
        text-transform: uppercase;
        font-family: $angular-text-font;
        font-size: 18px;
        font-weight: normal;
      }
    }

  }

}

.stop1 {
  stop-color: #e90069;
}

.stop3 {
  stop-color: #7a12d1;
}