.cardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 1rem;

  background: $card-color;
  box-shadow: $card-shadow;
  border-radius: 0.1875rem;
}

.noShadow {
  box-shadow: none;
}

.noBorder {
  border: none;
}

.noPadding {
  padding: 0;
}

.noBackground {
  background: none;
  background-color: transparent;
}