.dataWell {
  display: flex;
  list-style-type: none;
  position: relative;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}
.dataWell__inner {
  flex: 1 1;
  //text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.dataWell__value {
  display: block;
  //font-size: 5.0rem;
  font-weight: bold;
  margin: 0;
}
.dataWell__title {
  display: inline-block;
  font-size: $h5-font-size;
  margin-top: 1rem;
  margin-bottom: $xs-space;
  color: $body-text-color-lighter;
}
