.deviceListItem__wrapper {
  font-size: 1.0rem;
  //border-top: 1px solid $extra-light-color;
  height: 8.0rem;
  color: $lighter-color;
  border-radius: 0.8rem;
  //border: 1px solid $lighter-color;

  .flex-row {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.deviceListItem__deviceInfo {
  padding-left: 20px;
  text-wrap: normal;
  max-width: 150px;

  .deviceListItem__deviceName {
    color: $body-text-color;
  }
}

.deviceListItem__countWrapper {
  height: 100%;
  //border-left: 1px solid $extra-light-color;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: column;
  align-items: flex-start;
  color: $body-text-color;

  .deviceListItem__count {
    color: $link-color;
    font-weight: 500;
    display:inline-block;
  }
}