.cardTitle {
  padding: $card-content-padding;
  padding-bottom: 20px;
  padding-top: 30px;
  color: $heading-text-color;
  display: flex;
  align-items: center;
  height: 5.0rem;

  .material-icons {
    padding-left: 0.5rem;
    font-size: 1.6rem;
  }
}