.text-center > .like-container  {
  margin-left: auto;
  margin-right: auto;
}

.like-container {
  display: flex;
  align-items: center;
  text-align: center;
  color: #D0D0D0;
  cursor: pointer;
  justify-content: center;
  width: 45px;
}

.like-container:hover {
  color: $link-color;
}

.like-container.likeIsOff:hover  {
  animation-fill-mode: backwards;
  animation: beat 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.likeIsOn {
  color: $link-color;
  animation-fill-mode: backwards;
  animation: pop 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.like__count {
  margin-left: 10px;
  color: inherit;
}

.like__icon-ctn {
  z-index: 10;
  color: inherit;

  .like__icon {
    color: inherit;
    font-size: 20px;
    padding-top: 2px;
  }
}


