$title-height: 520px;
$short-title-height: 600px;

$title-width: 100%;

.tabTitle__wrapper.show {
  transform: translateY(0);
}

.tabTitle__wrapper {
  transition: transform 1s ease-in-out;
  transform: translateY($short-title-height * 0.48);
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: $short-title-height * -0.52;
  height: $short-title-height;

  .tabTitle {
    transition: background 1s ease-in-out;

    //padding: $main-app-padding;
    position: relative;
    margin: 0 auto;
    width: $title-width;

    text-align: right;
    color: $body-text-color;

    .flex-row {
      //justify-content: space-between;
      align-items: flex-start;
      height: $short-title-height;

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    .flex-row:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: $short-title-height;
      background: radial-gradient(ellipse 70% 50%, rgba(4, 20, 51, 0.86) 45%, transparent 100%);
      opacity: 1; // Set this to 0 for always background
      transition: all 0.5s ease-in-out;
      z-index: -2;
    }

    .tabTitle__title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 40%;
      margin-top: 200px;
      h3 {
        margin-bottom: 0;
      }
    }

    .tabTitle__leftPlaceholder {
      text-align: left;
      width: 30%;
    }
    .tabTitle__rightStuff {
      align-self: center;
      display: flex;
      flex-direction: column;

      justify-content: flex-end;
      width: 30%;
    }
  }

  .tabTitle.showShadow {
    .flex-row {
      height: $short-title-height;
    }

    .flex-row:before {
      opacity: 1;
    }
  }
}