.temporal-heat-table {
  fill: $extra-light-color;
}
.temporal-heat-table .leftAxis {
  font-size: $h6-font-size;
  font-weight: 200;
}
.temporal-heat-table .topAxis {
  font-size: $h4-font-size;
  font-weight: 200;
}