.main-chart {
  height: 350px;
}

.device-small-chart {
  width: 100%;
  height: 100px;
}

.device-medium-chart {
  width: 100%;
  height: 125px;
}

.device-large-chart {
  width: 100%;
  height: 150px;
}

.device-chart {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

