.location-bubble-tab-background {
  background: none;
  background-color: #131829;
}

.location-bubble-tab {
  padding-top: 100px;
}

.location-bubble-tab__titleWrapper {
  margin: auto;
  text-align: center;

  .location-bubble-tab__title {
    font-weight: lighter;
    font-size: 20px;
    align-self: center;
  }
}