#app {
  background: white;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.wide-letter {
  letter-spacing: 4px;
}

.superbold {
  font-weight: 800;
}

.tint-background {
  z-index: -1;
  //background-color: #fBfBfB;
  background: $background-color;
}

.padded-container {
  padding: $main-app-padding;
  max-width: 190rem;
  margin: 0 auto;
}

.cardWrapper {
  box-shadow: 0 1px 5px 0 $shadow-color-light;
  border-radius: 0.1875rem;
}

@media only screen and (max-width: 1200px) {
  .padded-container {
    padding: $main-app-padding;
  }
}

.fill-viewport {
  width: 100vw;
  height: 100vh;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.center-parent {
  position: relative;
}

.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.flex-center-parent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.flex-fill-parent {
  flex: 1 auto;
}


.featured-tag {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.featured-ctn {
  position: relative;
}

.featured__mock {
  //position: absolute;
  //top: 0;
  overflow: hidden;
  width: 600px;
  height: 400px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.featured-project {
  /*opacity: 0.5;*/
  color: $prim-color;
  overflow: hidden;
  top: 0;
  //border-radius: 12px;
  width: 100%;
  height: 350px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /*box-shadow: 10px 10px 0px #a1b2cf;*/
}

.single-column {
  padding-left: 100px;
  padding-right: 100px;
}

@media only screen and (max-width: $wide-screen-width) {
  .single-column {
    padding: 0;
  }
}

.project-list {
  background: white;
}

.project-cover {
  margin-top: 100px;
  margin-bottom: 20px;
}

.project-cover-img {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  //box-shadow: 0px 0px 15px #a1b2cf;
}

.project-cover-name {
  margin-top: 30px;
}

.project-cover-tags {
  font-size: 14px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 8px;
  font-weight: 400;
  color: black;
  opacity: 0.3;
}

.links-container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
}

.link {
  font-size: 40px;
}

.links-container a + a {
  margin-left: 30px;
}

.inline-children > * {
  display: inline;
}

/* Put this on parent of a display:flex child to center it. */
.flex-center {
  margin-left: auto;
  margin-right: auto;
}

.just-center {
  text-align: center;
}

.just-left {
  text-align: left;
}

.just-right {
  text-align: right;
}

.intro-desc-container {
  min-height: 400px;
}


a.nav-link {
  border: none;
  color: $prim-color;
}

a.is-active {
  font-weight: bold;
  color: $prim-color;
  border-bottom: 1px solid $prim-color;
  border-bottom-width: 0.2rem;
  border-bottom-color: $prim-color;
}

.main-chart {
  height: 350px;
}


.location-bubble-chart {
  height: 600px;
}

.device-chart {
  height: 200px;
}