.extra-small-spacer {
  height: $xs-space;
  width: 100%;
}

.small-spacer {
  height: $s-space;
  width: 100%;
}
.medium-spacer {
  height: $m-space;
  width: 100%;
}
.large-spacer {
  height: $l-space;
  width: 100%;
}

@for $i from 0 through 15 {
  .m-top-#{$i} {
    margin-top: #{$i * 0.4}rem;
  }
  .p-top-#{$i} {
    padding-top: #{$i * 0.4}rem;
  }
}

@for $i from 0 through 15 {
  .m-bot-#{$i} {
    margin-bottom: #{$i * 0.4}rem;
  }
  .p-bot-#{$i} {
    padding-bottom: #{$i * 0.4}rem;
  }
}

@for $i from 0 through 15 {
  .m-right-#{$i} {
    margin-right: #{$i * 0.4}rem;
  }
  .p-right-#{$i} {
    padding-right: #{$i * 0.4}rem;
  }
}

@for $i from 0 through 15 {
  .m-left-#{$i} {
    margin-left: #{$i * 0.4}rem;
  }
  .p-left-#{$i} {
    padding-left: #{$i * 0.4}rem;
  }
}

@for $i from 0 through 15 {
  .m-#{$i} {
    margin: #{$i * 0.4}rem;
  }
  .p-#{$i} {
    padding: #{$i * 0.4}rem;
  }
}

@for $i from 0 through 15 {
  .m-lr-#{$i} {
    margin-left: #{$i * 0.4}rem;
    margin-right: #{$i * 0.4}rem;
  }
  .p-lr-#{$i} {
    padding-left: #{$i * 0.4}rem;
    padding-right: #{$i * 0.4}rem;
  }
}

@for $i from 0 through 15 {
  .m-tb-#{$i} {
    margin-top: #{$i * 0.4}rem;
    margin-bottom: #{$i * 0.4}rem;
  }
  .p-tb-#{$i} {
    padding-top: #{$i * 0.4}rem;
    padding-bottom: #{$i * 0.4}rem;
  }
}

