@import "./mixins/spacing";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  background: $prim-color;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: $body-text-font;
  color: $prim-color;
}

button {
  @include no-spacing;
}

.btn {
  border: solid;
  padding: 8px 14px 8px 14px;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  color: inherit;
  margin-top: 0;
}

h1 {
  font-size: $h1-font-size;
}

h1.heading__0 {
  font-size: $h0-font-size;
  font-weight: 800;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: $h5-font-size;
  margin-bottom: 1.0rem;
  font-weight: normal;
}

h6 {
  font-size: $h6-font-size;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

b, strong {
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
  color: $OFF_BLACK;
}

section {
  position: relative;
  min-height: 30rem;
}

.noSelect {
  user-select: none;
}
