.grid-container {
  width: 100%;
  max-width: 1200px;
}

.container {
  background: $background-color;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 0 through 12 {
  .flex-row.gutter-#{$i} {
    margin: 0 #{-0.4 * $i}rem;

    [class*='col-'] {
      padding: 0 #{0.4 * $i}rem;
    }
  }
}

.flex-row {

  [class*='col-'] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  @for $i from 0 through 12 {
    .col-xs-#{$i} {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: percentage(1 / 12 * $i);
    }
  }

  @for $i from 0 through 12 {
    @media (min-width: 544px) {
      .col-sm-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: percentage(1 / 12 * $i);
      }
    }
  }

  @for $i from 0 through 12 {
    @media (min-width: 768px) {
      .col-md-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: percentage(1 / 12 * $i);
      }
    }
  }

  @for $i from 0 through 12 {
    @media (min-width: 992px) {
      .col-lg-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: percentage(1 / 12 * $i);
      }
    }
  }

  @for $i from 0 through 12 {
    @media (min-width: 1200px) {
      .col-xl-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: percentage(1 / 12 * $i);
      }
    }
  }
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
