// Colors
$RED: #ff4159;
$GREEN: #7ef468;

$prim-color: white;
$link-color: $GREEN;
$pageTitle-color: white;
$lighter-color: hsl(220, 20.7, 55.8);
$extra-light-color: hsl(220, 10, 90);
// Off white
$super-light-color: hsl(220, 5, 95);

$shadow-color-light: white;
$shadow-color-norm: rgba(45, 62, 80, 0.12);

//$blue-grad: radial-gradient(circle, #1c254a 0%, #281d37 80%);
$blue-grad: linear-gradient(to bottom, #1c254a 3%, #131829);


// App Background
$background-color: $blue-grad;

// Text Colors
$body-text-color: hsl(0, 0, 98);
$body-text-color-lighter: hsl(0, 0, 50);
$body-text-color-inverted: hsl(0, 0, 40);
$body-text-color-alt: #81b7fb;
$heading-text-color: white;

// Graph Colors
$graph-prim-color: #12e9ff;
$graph-body-color: $lighter-color;
$graphColor: $lighter-color;

// Card
$card-color: hsla(228, 40%, 13%, 0.5);
$card-shadow-color: $shadow-color-norm;
$card-shadow: 0 1px 10px 0 $card-shadow-color;

// Spacings
$wide-screen-width: 1500px;
$medium-screen-width: 1000px;

$main-app-padding: 0 30px 0 30px;

$l-space: 10rem;
$m-space: 5rem;
$s-space: 2rem;
$xs-space: 0.5rem;
