// Fonts
$body-text-font: 'Muli', Arial, sans-serif;
$angular-text-font: 'Rajdhani', Arial, sans-serif;

$h0-font-size: 5.5rem;
$h1-font-size: 3.2rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2.2rem;
$h4-font-size: 2.0rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

// Colors
$RED: #ff4159;
$GREEN: #7ef468;
$OFF_BLACK: #353535;

$prim-color: white;
$link-color: $GREEN;
$pageTitle-color: white;

$lighter-color: hsl(220, 20.7%, 55.8%);
$lighter-color-trans: hsla(220, 20.7%, 55.8%, 0.6);
$extra-light-color: hsl(220, 10%, 90%);
// Off white
$super-light-color: hsl(220, 5%, 95%);

$shadow-color-light: white;
$shadow-color-norm: rgba(0, 0, 0, 0.12);

//$blue-grad: radial-gradient(circle, #1c254a 0%, #281d37 80%);
$blue-grad: linear-gradient(to bottom, #0c1a38 3%, #131829);
$second-grad: radial-gradient(ellipse 70% 40%, rgba(18, 116, 130, 0.2) 45%, transparent);


// App Background
$background-color: $blue-grad;

// Text Colors
$body-text-color: hsl(0, 0, 98);
$body-text-color-lighter: $lighter-color;
$body-text-color-inverted: hsl(0, 0, 40);
$body-text-color-alt: #81b7fb;
$heading-text-color: white;


// Graph Colors
$graph-prim-color: #12e9ff;
$graph-body-color: $lighter-color;
$graphColor: $lighter-color;

// Spacings
$wide-screen-width: 1500px;
$medium-screen-width: 1000px;

$main-app-padding: 0 50px 0 50px;
$card-content-padding: 0 0 0 20px;

$xl-space: 100rem;
$l-space: 10rem;
$m-space: 5rem;
$s-space: 2rem;
$xs-space: 0.5rem;
